
h1,h2,h3,h4{
	font-family: 'Roboto Mono' ;

}
.master-wrapper-page {
   
    width: 100%;
    background: #fff;

 }
 .wrapper-home-banner.flight {
    background-image: url(../images/backgroud.jpg);
    height: 480px;
    margin-top: -10px;
    position: relative;
}
.wrapper-home-banner {
    margin: 0;
    width: 100%;
    height: 384px;
    background: #f8f8f8 url(../images/backgroud.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 !important;
}

.bg-header{
	background-image: url(../images/backgroud.jpg);
	width: 100%;
	height: 480px;
	padding: 10px;
}
.carousel-inner img{
	width: 100%; 
    margin: 0px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #fff;
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}
.price{
	color:  #f4511e;
	font-size: 20px;
}
.bg{
	/*margin: 10px;*/
	padding-top: 10px;
	border-top: 1px solid #ddd;
	/*border-bottom: 1px solid #ddd;*/
}
.pice{
	color:  #f4511e;
	font-size: 25px;
}
.diemdi, .diemden{
	color: #f4511e;
	font-size: 30px;
}
.glyphicon, .icon
{
	color: #f4511e !important;
	font-size: 25px !important ;
}
.muiten{
	padding-top: 35px;
}
.choose{
	padding: 25px;
	border-radius: 0;
	border: 1px solid #ddd;
	background-color: #f4f4f4;
	box-shadow: rgba(110,110,110,.6) 0 0 7px;
	float: left;

}
.choose h2{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.choose-icon{
	color: #f4511e;
	font-size: 50px;
	padding: 30px;
	border: 1px solid #fff;
	border-radius: 25px;
}
.choose-icon:hover{
	background-color: #f4511e;
	color: #fff;
	position: none;

}
.choose-text{
	padding-left:40px; 
	text-align: justify;
}
.choose-text-p{
	padding-left:40px; 
	color: #929292;
}
.choose-text:hover{
	color: #337ab7;
}
.slide img{
	width: 100%;
	position: relative; 
}
.slide .noidia{
	color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: #FF5115;
   padding: 10px; 
}
.bg-grey{
	background-color: #f6f6f6;
	box-shadow: rgba(110,110,110,.6) 0 0 7px;
}
.nhanmail{
	background-color: #D6D6D6;
	padding: 10px;
}
.nhanmail label{
	font-size: 25px;
	 font-family: 'Open Sans',Helvetica,Arial,sans-serif !important;
	 padding-right:40px;
	 text-align: center;

}
.nhanmail .mail{
	font-style: 25px;
}
.btn-search, .nhanmail .submit{
	background-color: #f4511e;
	border: 0;
	font-size: 30px;
	margin-left: 40px;

}

.btn-search:hover, .nhanmail .submit:hover{
	color: #f4511e;
	background-color: #fff;
	border: 1px solid #f4511e;
}
.nhanmail input[type=text]{
	width: 300px;
	height: 50px;
}
.bg-footer{
	background-color: #3A3538;
	padding-top: 30px;

}
.footer{
	background: #252b36;
	color: #fff;
	padding: 20px;
}
.footer-logo{
	margin-left: 50px;
}
.item2 a, .item1 a{
	 color: #fff !important;
	 line-height: 4rem;
	 font-size: 15px;
}
.item1{
	padding-top: 50px;
	font-size: 15px;
	line-height: 4rem;
}
.app-footer{

}
.app-footer:hover{
	border-bottom: 2px solid #f4511e ;
	border-radius: 5px;
}
.icon-footer{
	font-size: 40px;
	background-color: #000;
	color: #fff;

}
.icon-footer:hover{
	 border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.booder-footer{
	  border-top: 10px solid #575c63;
    padding-top: 1.5rem;

}
.navbar {
    margin-bottom: 0;
    background-color: #177EE5;
    opacity: 0.8;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #177EE5 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.form-inline .glyphicon{
	color: #f4511e !important;
	font-size: 18px !important ;
}
.bg-search{
	margin-top: 50px;
}
.form-search{
	padding-top: 30px;
}
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
}
.title-footer{
	font-size: 25px;
	color: #f4511e;
}
.modal-body{
	line-height: 3rem;
	padding: 10px;
}
.bg-search{
	background: rgba(52, 213, 245, 0.29) none repeat scroll 0% 0% !important;
	top: 0px;

}
.bg-search1{
	background:rgba(52, 213, 245, 0.41) none repeat scroll 0% 0%;

}
#bg-search{
	padding-top:100px;
}
.scrollToTop{
	width:100px; 
	height:130px;
	padding:5px; 
	position:fixed;
	top:450px;
	right:5px;
	display:none;
	background: url(../images/backtotop.png) no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}

.fixed {position:fixed; top:0; left:0; z-index:2; width:100%;}
@media screen and (max-width: 600px){
	.choose{
		 display: none;
	}
	.bg-grey img{
		width: 100%;
	}
}